body {
    background-color: #002244; 
    color: white;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: #000000;
    color: rgb(245, 237, 22);
    padding: 20px;
    width: 97%;
}

header h1 {
    font-size: 24px;
}

#navbar {
    background-color: #000000; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    display: flex;
}

#navbar ul li {
    margin: 15px;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cerca {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

.cerca input {
    margin-right: 10px; 
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.cerca button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 237, 22);
    color: #002244;
}

section img {
    display: flex;
    justify-content: center;
    border-radius: 30px; 
    width: 500px; 
    height: 300px;
}

footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: white;
    width: 97%;
}

footer {
    background-color: #000000;
    padding: 20px;
    color: white;
    height: fit-content;
}

#contatti-titolo {
    text-align: left; 
    font-size: 24px; 
}


.contatti-contenuto {
    display: flex;
    justify-content: space-between; 
}


.colonna {
    flex: 1; 
    margin-right: 20px; 
    font-size: 12px; 
}

.contatti-testo {
    margin-bottom: 10px;
    font-size: 12px; 
}

.contatti-contenuto a {
    color: white;
    font-size: 12px; 
}
